#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: Nunito;
  background-color: #0b0b1e;
  overflow: hidden
}

#player .shk {
  --background-body: linear-gradient(-45deg, #751d1d, #a65600d4);
}

#player {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#ep-art {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45vh;
  aspect-ratio: 1 / 1;
  border-radius: 20%;
}

.shk-cover  {
  border-radius: 20%;
}

#cursor {
  position: absolute;
  background-color: #a30000;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}